body { 
    background-color: #eee;
    margin: 20px 70px 30px 90px;
}
#vertical-line  {
    width: 940px;
    height: 3px;
    align-content: center;
    background-color: #ddd;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    margin: 0px;
    margin-left: 10px;
    color: rgb(27, 117, 105);
}
.imgframe {
    margin: 50px 30px 30px 30px;
    background:rgb(178, 208, 212);
    padding: 5px;
    border 1px solid #eee;
    float: left;
}

.rightPic {
    margin-top: 30px;
    margin-right: 50px;
}