body {
    min-height: 100%;
}
header {
    color: #fff;
}
.full {
    background: url(assets/images/textured_paper.png);
    width: 103%;
    margin-top: 65px;
    margin-left: -10px;
    position: absolute;
    margin-bottom: 0px;
    border-top:2px solid #ccc;
}

.inner{
    background-color: #fff;
    margin: 5%;
    margin-left: 8%;
    width: 75%;
    margin-bottom: 20%;
    align-content: center;
    justify-content: center;
    padding: 30px;
    border-radius: 5px 5px;
}

footer {
    position: absolute;
    width: 100%;
    margin-top:0;
    height: 3rem;            /* Footer height */
    background: #666666;
    width: 100;
    border-top:8px solid #4aaaa5;
    color: #fff;
    text-align: center;
    padding-top: 60px;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
    margin: 0px 0px 0px 40px;
    background-color: #4aaaa5;
    color: #fff;
    padding: 20px;
    font: bold;
    float: left;
    clear: both;
}

nav {
    float: right;
    align-content: center;
    margin-top: 30px;
    margin-right: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color:#aaa;
}

#verticalLine2  {
    width: 100%;
    margin-left: 0%;
    height: 3px;
    align-content: center;
    background-color: #ddd;
}

p { 
    font-family: Arial, Helvetica, sans-serif;
    text-size-adjust: 80%;
    line-height: 2em;
    color:#7777777;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    color: #4aaaa5;
    margin-left: 10px;
}

.imgframe {
    margin: 0px 20px 20px 20px;
    background:rgb(178, 208, 212);
    padding: 1px;
    float: left;
}

.rightPic {
    margin-top: 30px;
    margin: 0 auto;
}

a { 
    text-decoration: none; 
    color: #aaa;
}

button {
    background-color: #4aaaa5;
    padding: 5px 10px 5px 10px;
    outline: 0;
    color: #fff;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
} 

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contactText {
    font-family: Arial, Helvetica, sans-serif;
    text-size-adjust: 80%;
    line-height: 2em;
    color:#7777777);
}